input[type = "submit"].cancelButton{
    background-image: url(../img/trashcan.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    padding: 10px;
    background-color: #99636300;
    border: 0px;
    cursor: pointer;
}

/* Form di aggiunta film */
.crea {
    display: none;
    max-width: 600px;
    margin: 40px auto;
    background-color: #5a7a77e8;
    padding: 28px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    border: 2px solid #aac5c5;
    color: white;
}
.crea input[type="text"],
.crea input[type="date"],
.crea input[type="number"] {
    width: 100%;
    padding: 10px 12px; 
    border: 2px solid #aac5c5;
    border-radius: 6px;
    font-size: 15px;
    background-color: #fafaf8;
    transition: all 0.3s;
    margin-bottom: 16px;
}

.crea input[type="submit"]{
    width: 100%;
    padding: 12px;
    background-color: #3a504e;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
    margin-top: 2%;
}
.crea input[type="submit"]:hover{
    background-color: #2e3e3d;
}



/* Pulsante di aggiunta film */
#aggiungi{
    position: absolute;
    top: 10px;
    background-color: #78a9a4;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

input[type = "submit"].saveButton{
    top: 10px;
    background-color: #78a9a4;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

input[type="number"]{
    width: 30%;
    padding: 10px 12px; 
    border: 2px solid #aac5c5;
    border-radius: 6px;
    font-size: 15px;
    background-color: #fafaf8;
    transition: all 0.3s;
    margin-bottom: 16px;
}

