/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
    
}

/* Navbar Styles */
.navbar {
    background-color: #537673;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
    position:sticky;
    top: 0;
    margin-top: -20px;
    z-index: 1001;
}

#navTitle {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
}

#menuIcon {
    width: 35px;
    height: 35px;
    cursor: pointer;
    position: relative;
    background-image: url("../img/menuIcon.svg");
    background-size: contain;
    background-repeat: no-repeat;
}


/* Sidebar */
.slideBar {
    background-color: #5b8380;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 15%;
    position: sticky;
    top: 60px;
    display: none;  
    z-index: 1000;
}

.cell {
    padding: 15px 30px;
    color: white;
    cursor: pointer;
    transition: all 0.3s;
    border-bottom: 1px solid #ffffff;
    
}

.cell:last-child {
    border-bottom: none;
}

.cell:hover {
    background-color: #78a9a4;
    color: #fff;
    padding-left: 40px;
}

/* Submit Button */
#logoutButton {
    width: 100%;
    background-color: #ffffff00;
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
    letter-spacing: 1px;
    margin-left: -85px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #537673;
    color: white;
    text-align: center;
    padding: 10px;
    left: 0;
    font-size: 14px;
}

