/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
    
}

/* Navbar Styles */
.navbar {
    background-color: #537673;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
    position:sticky;
    top: 0;
    margin-top: -20px;
    z-index: 1000;
}

#navTitle {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
}

#menuIcon {
    width: 35px;
    height: 35px;
    cursor: pointer;
    position: relative;
    background-image: url("../img/menuIcon.svg");
    background-size: contain;
    background-repeat: no-repeat;
}


/* Sidebar */
.slideBar {
    background-color: #537673;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 15%;
    position: sticky;
    top: 60px;
    display: none;  
}

.cell {
    padding: 15px 30px;
    color: white;
    cursor: pointer;
    transition: all 0.3s;
    border-bottom: 1px solid #ffffff;
    
}

.cell:last-child {
    border-bottom: none;
}

.cell:hover {
    background-color: #78a9a4;
    color: #fff;
    padding-left: 40px;
}

/* Submit Button */
#logoutButton {
    width: 100%;
    padding: 14px;
    background-color: #656d4a;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

#logoutButton:hover {
    background: linear-gradient(135deg, #414833 0%, #656d4a 100%);
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

#logoutButton:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}