/*
Color palette
#B6AE9F
#C5C7BC
#DEDED1
#FBF3D1
*/
*{
    font-family: Helvetica, sans-serif;
}

form{

    display: flex;
    flex-direction: column;
    justify-content:space-between;
    justify-self: center;
    width: 30%;
    height: 85dvh;
    background-color: #B6AE9F;
    padding: 5dvh;
    font-size: 1.7dvh;
    margin-top: 1%;
    box-sizing: border-box;
    color: white;
    
}

input, button{
    height: 3.5dvh;
    box-sizing: border-box;
    border: none;
}

span {
    display: flex;
    flex-direction: column;
    flex: 1;
    
}





