/*
Color palette
#c2c5aa
*/

.error{
    color: red;
}

form{
    justify-self: center;
    width: 30%;
    height: fit-content;
    background-color: #B6AE9F;
    padding: 5dvh;
    font-size: 1.7dvh;
    margin-top: 1%;
    box-sizing: border-box;
    color: white;
}

input, button{
    height: 3.5dvh;
    box-sizing: border-box;
    border: none;
}

span {
    display: flex;
    flex-direction: column;
    flex: 1;
    
}





