/* Stile per la tabella */
table {
    width: 80%;
    border-collapse: collapse;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    justify-self: center;
    margin-top: 50px;
}

th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #656d4a;
    color: white;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

td {
    background-color: #ffffffa8;
}

td, th {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}
