body{
    background-image:url(../img/wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.content{
    width: 60%;
    height: fit-content;
    margin: 0 auto;
    padding: 20vh;
    background-color: #5a7a77db;
    position: absolute;
    color: white;
    top:15%;
    left:20%;
}