body{
    background-image:url(../img/wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Contenuto Visualizzazione Libri */
.content{
    width: 80%;
    height: fit-content;
    margin: 0 auto;
    padding: 5vh;
    position: absolute;
    top:10%;
    left:10%;
    color: white;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #537673da;
}

td, th{
    padding: 12px;
    text-align: left;
    color: white;
    border: none;
}

tr:hover{
    background-color: #689490da;
}

thead{
    background-color: rgb(55, 73, 78);
}